
# Terraform
*.tfvars
!*.tfvars.example
*.tfstate
*.tfstate.*
.terraform/
crash.log
crash.*.log
*plan

# Generated SSH keys
*.pem

# venv
.venv

# TXT files
*.txt
.env
.env.*
!.env.example


# Test Files
aws-provisions/test-files/vpc-lab/semgrep-ci-py-test.py
aws-provisions/test-files/vpc-lab/semgrep-ci-tf-test.tf
aws-provisions/test-files/vpc-lab/semgrep-local-tf-test.tf
