
# Terraform
*.tfvars
!*.tfvars.example
*.tfstate
*.tfstate.*
.terraform/
crash.log
crash.*.log
*plan

# Generated SSH keys
*.pem

# TXT files
*.txt
.env
.env.*
!.env.example

# Test Files

# Test Files
aws-provisions/test-files/vpc-lab/sast-local-test.tf
#aws-provisions/test-files/vpc-lab/sast-ci-test.tf
